@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container {
  max-width: 90%;
  margin: auto;

}

header {
  padding: 10px 0px;
  width: 100%;
  margin-bottom: 30px;
  line-height: 70px;
}

.img-cont{
  width: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F9FDFB;
  color: #333333;
  line-height: 1.6;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.about h1, .about p{
  color: #333333;
}

ul {
  list-style: none;
}

/* !!!!!!!!!hero section */

.hero-container{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.hero-image img{
  width: 100%;
}
.Formcard{
  width: 50%;
  background-color: white;
  padding: 40px 50px;
  border-radius: 15px;

}

.feedback-statss{

  padding-top: 100px;

 
}
.stats{
  
  position: relative;
}
.bg-dummy{
  position: absolute;
  background-color: #FDA87C;
  width: 50px;
  top:16px;
  left: -4px;
  height: 27px;
  z-index: -1;
}


.feedback-statss h1{
  font-size: 32px;
  color: #183B56;
  text-align: center;
}
.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}


/* !!!!!!!!!!buttons ui */
.cont-buttons{
  max-width: 300px;
  display: flex;
  gap: 50px;


}
.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF8345;
  font-size: 16px;
  font-weight: 550;
}

.btn-secondary {
  color: #183B56;
  background: #F9FDFB;
  font-size: 16px;
  font-weight: 550;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: rebeccapurple;
}

.about-link {
  display: flex;
  justify-content: flex-end;
}

.about-link a {
  color: #fff;
  cursor: pointer;
}

.about-link a:hover {
  color: #1f3aff;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}


.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* background-color: #183B56; */

}

.back{
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 10px;
}



/* !!!!!!!!!!!feedback form ui */

@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}





/*!!!!!!!card1 */
.feedback-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 50px; */
  margin-top: 100px;
  column-gap: 150px;
  row-gap: 70px;
/* grid-template-rows: 1fr 1fr; */
}



.name-email > .name-primary{
  background-color: #EAEEEC;
  color: #838A96;
  border-radius: 10px;
  padding: 8px;
}

.name-email > .name-secondary{
  background-color: #7BC678;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 8px;
}
.card-cont{
  background-color: black;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.867);
  color: #ffffff;
}



/* !!!!!!!!!!!!!!!!!form ui */


.close,
.edit {
  font-size: 28px;
  color: #838A96;
  position: absolute;
  top: 50px;
  right: 20px;
  /* left: 10px; */
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 20px;
}

.edit {
  right: 60px;
  /* left: -1px; */
}

.reverse .name-email span{
  color: #ffffff;
}
.desc-display{
  font-size: 24px;
  font-weight: 500px;
  color: #9FABB4;
  margin-bottom: 20px;
}
.card h2 {
  font-size: 28px;
 font-weight: 700px !important;
  font-weight: 600;
  margin-bottom: 20px;
  color: #183B56;
  /* text-align: center; */
}

.d-flex{
  display: flex;
  gap: 20px;
}

.name-email{
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.name-email span{
  font-style: italic;
  font-weight: 500;
  color: grey;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 40px;
  margin-bottom: 100px;
}

.rating li,
.num-display {
  position: relative;
  background: #797979;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.line{
  position: absolute;
  top: 50%;
  width: 120%;
  height: 2px;
  background-color: #838A96;
  left: 150%;
}

.rating>li:last-child .line{
 display: none;
}


.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li i{
  color: #ffffff;
}

.rating li:hover{

  background: #7BC678;
 
}

.num-display {
  position: absolute;
  background: #FF8345;
  /* color: #333333; */
}

.num-display {
  color: #ffffff !important;
}

.rating li span{
  font-size: 12px;
  position: relative;
  top: 45px;
  display: flex;
  width: 100px;
  top: 20px;
  left: -10px;
  color: #183B56;
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked ~ label {
  background: #7BC678;
  width: 100%;
  box-shadow: 1px 1px 15px 2px #7BC678;
}

[type='radio']:checked ~ span{
  color: #7BC678;
}

.input-group {
  border: 1px solid rgba(131, 138, 150, 0.26);
  padding: 30px;
  border-radius: 8px;
  margin-top: 30px;
}

input {
  border: 1px solid rgba(131, 138, 150, 0.26);
  width: 100%;
  margin-bottom: 25px;


  display: block;
  padding: 15px;
  border-radius: 10px;
}
input::placeholder{
  color: #9FABB4;
  font-size: 16px;
  font-weight: 500;
}
textarea{
  display: block;
  width: 100%;
  height: 150px;
  border: 1px solid rgba(131, 138, 150, 0.26);
  padding: 15px;
  margin-bottom: 16px;
  border-radius: 10px;
}
textarea::placeholder{
  color: #9FABB4;
  font-size: 16px;
  font-weight: 500;
}

input:focus {
  outline: none;
}

.inner-input{
  display: flex;
  gap: 20px;
}


.footer{
  background-color: #FF8345;

}

.footer{
  display: flex; 
  justify-content: space-between; 
  padding: 20px 70px; 
  align-items: center;
  margin-top: 100px;
 
}

.foot-para p{
color: white
}

.foot-para p .bg11{
  color: #183B56;

}


/* Styles for screens smaller than 768px (typical mobile devices) */
@media only screen and  (min-width: 0px) and (max-width:750px) {
  /* Add your mobile styles here */

.name-email{
  display: flex;
  flex-direction: column;
}
  .card {
   
    border-radius: 15px;
    padding: 10px 50px;
    /* width: 300px; */

  }
  
 
.footer{
  background-color: #FF8345;

}

.foot-para{
  display: none;
}

  .header-flex img{
    width: 40%;
  }
  .cont-buttons{

 
      /* width: 300px; */
      display: flex;
      gap: 0px;
      overflow: hidden;
  

  }

.header-flex img{
  max-width: 100%;
  height: auto;
}
  .btn-secondary {
   display: none;

}
.input-group input {
  width: 100%;
}
.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
 .feedback-list {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    row-gap: 40px;
    width: 100%; /* Takes up 100% of the parent container's width */
    /* display: none; */
}
.desc-display {
  font-size: 14px;
  font-weight: 400px;
  color: #9FABB4;
  margin-bottom: 20px;
}
.card h2 {
  font-size: 18px;
  font-weight: 700px !important;
  font-weight: 600;
  margin-bottom: 20px;
  color: #183B56;
  /* text-align: center; */
}
.name-email {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}
.name-email > .name-primary,.name-secondary {
  background-color: #EAEEEC;
  color: #838A96;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;

}
.name-secondary{
  margin-bottom: 20px;
}
.hero-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-image img{
  width: 100%;
}
.Formcard{
  width: 100%;
  background-color: white;
  padding: 0px 0px !important;
  border-radius: 15px;

}


.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 40px;
  margin-bottom: 100px;
  /* display: none; */
}

.rating li,
.num-display {
  position: relative;
  background: #797979;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 15px;

}
.rating li span {
  font-size: 8px;
  position: relative;
  top: 45px;
  display: flex;
  width: 100px;
  top: 20px;
  left: -10px;
  color: #183B56;
}
.container {
 width: 100%;
  
}
.close, .edit {
/* display: none; */
  top: 15px;
 
}

.line{
 display: none;
}

.rating>li:last-child .line{
 display: none;
}

.rating>li:nth-child(3){
  display: none;
 }
.num-display {
  position: absolute;
  background: #FF8345;
  /* color: #333333; */
}

}

/* Styles for screens between 768px and 949px */
@media only screen and (min-width: 750px) and (max-width: 949px) {
  /* Add your styles here */

  .feedback-list {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 50px;
      row-gap: 40px;
  }




.hero-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-image img{
  width: 100%;
}
.Formcard{
  width: 100%;
  background-color: white;
  padding: 40px 50px;
  border-radius: 15px;

}


.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 40px;
  margin-bottom: 100px;
}

.rating li,
.num-display {
  position: relative;
  background: #797979;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.line{
  position: absolute;
  top: 50%;
  width: 120%;
  height: 2px;
  background-color: #838A96;
  left: 150%;
}

.rating>li:last-child .line{
 display: none;
}
.num-display {
  position: absolute;
  background: #FF8345;
  /* color: #333333; */
}

}





/* Styles for screens between 950px and 1250px */
@media only screen and (min-width: 950px) and (max-width: 1250px) {
 


  .feedback-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    row-gap: 30px;
    column-gap: 25px;
}

.card {
  
  margin: 0 0;
  
}

.line{
  position: absolute;
  top: 50%;
  width: 50%;
  height: 2px;
  background-color: #838A96;
  left: 120%;
}

.rating>li:last-child .line{
 display: none;
}

}
